In [4]:
# Answer -1
a = "Akhil"
b = [1,3,4,5,"akhil",32.2]
c = 32.23
d = (3,2,4,"akhil",8.7)

In [5]:
# Answer -2
var3 = ['DS','ML','python']

In [19]:
#  Answer -3
5/10 # Divisional operator
1%2 # Remainder operator(Modulus)
5//4 #floor value
1**3 # power operator(exponants)

1

In [21]:
# Answer -4
l = [1,2,3,4,5,6,7,8,"akhil",23.43]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Answer -5
n = 10
i = 2
while i < n:
    print(i)
    i % 10 == 1
    print(i)

In [58]:
# Answer -6
for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]:
    if i % 3 == 0:
        print(i)
else:
    print("done")

3
6
9
12
15
18
21
24
done

In [ ]:
# Answer -7
a = [1,2,3,4,"akhil",43.43]  #list is a mutable data type changeble.
  
b = "Akhilesh" # str is a immutable data type can not change.